<main class="flex flex-row justify-between items-center bg-amber-200 h-64 m-7 mb-20">
    <div>
        <img  class="w-96" src="assets/square.png" alt=""/>
    </div>
    <div>
        <h1 class="font-mono font-bold">Square</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit facilis soluta dignissimos provident dolores, impedit doloribus quisquam veritatis similique ut perspiciatis accusantium in unde laboriosam quos nulla, ad alias debitis dolorum. Accusamus veritatis optio eum commodi enim ex! Delectus aliquid incidunt quae provident animi in, dolore ipsa? Natus quam autem eos itaque quas, aperiam similique, nesciunt minima odio quidem mollitia enim ipsum consectetur ad ullam voluptatum facere! Facilis sit impedit, saepe quibusdam eos quae numquam iste deleniti reprehenderit aliquam, pariatur expedita. Ullam veritatis earum id, cum, impedit commodi sunt ut atque voluptates eos ex sed, illum facilis laudantium sequi dolores.</p>

    </div>

</main>
