<div class="flex flex-col justify-center items-center bg-yellow-200 h-64 w-100 m-20 p-3">

    <h1 class="font-bold text-indigo-700 text-3xl">Welcome to SideforSide</h1>
    <p class="text-2xl text-emerald-800 font-medium">to learn all about shapes and their sides....</p>
    <br />

    <a routerLink="/menu" routerLinkActive="active"><button
            class="bg-teal-400 text-2xl border-spacing-2 rounded-md border-2 border-red-700">Ready
            to learn =></button></a>
    <router-outlet></router-outlet>

</div>