<div class="bg-amber-200 m-2">

    <div class="text-fuchsia-900 font-semibold bg-emerald-400 w-1/4 p-2">
        <h1>Two-Dimensional Shapes</h1>

    </div>

    <div class="flex flex-row grid grid-rows-2 grid-cols-2 gap-4 m-2">
        <div class="flex flex-row justify-center items-center border-4 border-teal-800 rounded-md border-black ">
            <div>
                <h1 class="text-cyan-800 font-bold font-mono text-xl">Square</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis debitis perspiciatis hic voluptatem
                    impedit cum, quia qui asperiores eveniet atque rerum sed nam facilis accusantium ab itaque
                    consequatur sit sapiente.</p>
                <nav>
                    <a class="text-amber-950 font-medium" href="/square">Read More...</a>
                </nav>

            </div>
            <div class="w-1/3">
                <img src="assets/square.png">
            </div>
        </div>
        <div class="flex flex-row justify-center items-center border-4 border-teal-800 rounded-md border-black ">
            <div>
                <h1 class="text-cyan-800 font-bold font-mono text-xl">Circle</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis debitis perspiciatis hic voluptatem
                    impedit cum, quia qui asperiores eveniet atque rerum sed nam facilis accusantium ab itaque
                    consequatur sit sapiente.</p>
                    <nav>
                        <a class="text-amber-950 font-medium" href="/">Read More...</a>
                    </nav>

            </div>
            <div class="w-1/3">
                <img src="assets/circle.png" alt="" />
            </div>
        </div>
        <div class="flex flex-row justify-center items-center border-4 border-teal-800 rounded-md border-black">
            <div>
                <h1 class="text-cyan-800 font-bold font-mono text-xl">Rectangle</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis debitis perspiciatis hic voluptatem
                    impedit cum, quia qui asperiores eveniet atque rerum sed nam facilis accusantium ab itaque
                    consequatur sit sapiente.</p>
                    <nav>
                        <a class="text-amber-950 font-medium" href="/">Read More...</a>
                    </nav>

            </div>
            <div class="w-1/3 ">
                <img src="assets/rectangle.png" alt="" />
            </div>
        </div>
        <div class="flex flex-row justify-center items-center border-4 border-teal-800 rounded-md">
            <div>
                <h1 class="text-cyan-800 font-bold font-mono text-xl">Triangle</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis debitis perspiciatis hic voluptatem
                    impedit cum, quia qui asperiores eveniet atque rerum sed nam facilis accusantium ab itaque
                    consequatur sit sapiente.</p>
                    <nav>
                        <a class="text-amber-950 font-medium" href="/">Read More...</a>
                    </nav>

            </div>
            <div class="w-1/3">
                <img src="assets/triangle.png" alt="" />
            </div>
        </div>
    </div>
    <div>
        <div>
            <h1 class="text-fuchsia-900 font-semibold bg-emerald-400 w-1/4 p-2">Three-Dimensional shapes</h1>
        </div>
        <div class="flex flex-row grid grid-rows-2 grid-cols-2 gap-4 m-2">
            <div class="flex flex-row justify-center items-center border-4 border-teal-800 rounded-md">
                <div>
                    <h1 class="text-cyan-800 font-bold font-mono text-xl">Cube</h1>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi cupiditate cumque natus sit,
                        maxime consequuntur nesciunt, ad veniam non autem vero tempore aspernatur in, architecto labore.
                        Nemo quam beatae quis!</p>
                        <nav>
                            <a class="text-amber-950 font-medium" href="/">Read More...</a>
                        </nav>

                </div>
                <div class="w-1/3">
                    <img src="assets/cube.png" alt="" />
                </div>
            </div>
            <div class="flex flex-row justify-center items-center border-4 border-teal-800 rounded-md">
                <div>
                    <h1 class="text-cyan-800 font-bold font-mono text-xl">Cuboid</h1>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi cupiditate cumque natus sit,
                        maxime consequuntur nesciunt, ad veniam non autem vero tempore aspernatur in, architecto labore.
                        Nemo quam beatae quis!</p>
                        <nav>
                            <a class="text-amber-950 font-medium" href="/">Read More...</a>
                        </nav>

                </div>
                <div class="w-1/3">
                    <img src="assets/cuboid.png" alt="" />
                </div>
            </div>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>